/* @group Buttons */
.app  .cbtn{
	border: 1px solid #7a7a7a;
	background: #f6f6f6 url(images/button.png) center top;
	color: #666;
	padding: 3px 10px;
}
.app  .cbtn:hover{
	border: 1px solid #555;
	background: #f6f6f6 url(images/button.png) center -26px;
	color: #333;
}
.app  .cbtn:active{
	border: 1px solid #555;
	background: #f6f6f6 url(images/button.png) center -53px;
	color: #555;
}
.app  .btn_txt{
	float: left;
	padding-top: 2px;
	font-size: 12px;
	display: block;
	height: 17px;
	padding-bottom: 2px;
	background: url(images/controls.png) repeat-x 0 -1152px;
}
.app  a.btn{
	text-decoration: none !important;
	color: #000 !important;
	background: url(images/controls.png) no-repeat 100% -360px;
	padding-right: 12px;
	padding-left: 2px;
	margin: 2px 3px 2px 0; /*prev: 0 3px 0 0*/
	height: 24px;
	display: -moz-inline-stack;
	display: inline-block;	
	outline: none;
	cursor: not-allowed;
	text-shadow: #fff 0 1px 0;
}
.app  a.btn span.inner-btn{
	background: url(images/controls.png) no-repeat left -24px;
	height: 24px;
	display: block;
	padding-left: 4px;
}
.app  a.btn span.inner-btn span.label{
	background: url(images/controls.png) repeat-x left -216px;
	padding: 3px 0 7px;
	display: block;
	min-width:48px;
	text-align: center;
	margin-left: 8px;
	height: 14px;
}

/* @group Active Button Styles */
.app  a.active{
	text-decoration: none !important;
	color: #000 !important;
	background: url(images/controls.png) no-repeat 100% -336px;
	cursor: default;
	text-shadow: #fff 0 1px 0;
}
.app  a.active span.inner-btn{
	background: url(images/controls.png) no-repeat left top;
}
.app  a.active span.inner-btn span.label{
	background: url(images/controls.png) repeat-x left -192px;
}
.app  a.active:hover, .app  a.main_btn{
	background-position:100% -384px;
}
.app  a.active:hover span.inner-btn, .app  a.main_btn span.inner-btn{
	background-position: left -48px;
}
.app  a.active:hover span.inner-btn span.label, .app  a.main_btn span.inner-btn span.label{
	background-position: left -240px;
	color: #000;
	text-shadow: silver 0 1px 0;
}
.app  a.active:active, .app  a.active.btn_press:hover  {
	background-position:100% -408px;
}
.app  a.active:active span.inner-btn, .app  a.active.btn_press:hover span.inner-btn{
	background-position: left -72px;
}
.app  a.active:active span.inner-btn span.label, .app  a.active.btn_press:hover span.inner-btn span.label{
	background-position: left -264px;
	color: #222;
	text-shadow: #aaa 0 1px 0;
}
 
 
 
/* @end */
 
.app  a.smallbtn{
	text-decoration: none !important;
	color: #777 !important;
	background: url(images/controls.png) no-repeat 100% -1800px;
	padding-right: 11px;
	padding-left: 2px;
	margin-right: 3px;
	height: 19px;
	display: -moz-inline-stack;
	display: inline-block;	
	outline: none;
	font-size: 12px;
	cursor: not-allowed;
	text-shadow: #fff 0 1px 0;
}
.app  a.smallbtn span.inner-btn{
	background: url(images/controls.png) no-repeat left -1656px;
	height: 24px;
	display: block;
	padding-left: 3px;
}
.app  a.smallbtn span.inner-btn span.label{
	background: url(images/controls.png) repeat-x left -1176px;
	padding: 2px 0 7px;
	display: block;
	min-width:48px;
	text-align: center;
	margin-left: 8px;
	height: 14px;
}
/* @group Active Button Styles */
.app  a.smallbtn.smallactive{
	text-decoration: none !important;
	color: #000 !important;
	background: url(images/controls.png) no-repeat 100% -1776px;
	cursor: default;
	text-shadow: #fff 0 1px 0;
}
.app  a.smallbtn.smallactive span.inner-btn{
	background: url(images/controls.png) no-repeat left -1632px;
}
.app  a.smallbtn.smallactive span.inner-btn span.label{
	background: url(images/controls.png) repeat-x left -1152px;
}


.app  a.smallbtn.smallactive:hover, .app  a.smallmain_btn{
	background-position:100% -1824px;
}

.app  a.smallbtn.smallactive:hover span.inner-btn, .app  a.smallbtn.smallmain_btn span.inner-btn{
	background-position: left -1680px;
}
.app  a.smallbtn.smallactive:hover span.inner-btn span.label, .app  a.smallbtn.smallmain_btn span.inner-btn span.label{
	background-position: left -1200px;
	color: #000;
	text-shadow: silver 0 1px 0;
}
.app  a.smallbtn.smallactive:active, .app  a.smallbtn.smallactive.btn_press:hover  {
	background-position:100% -1824px;
}
.app  a.smallbtn.smallactive:active span.inner-btn, .app  a.smallbtn.smallactive.btn_press:hover span.inner-btn{
	background-position: left -1680px;
}
.app  a.smallbtn.smallactive:active span.inner-btn span.label, .app  a.smallbtn.smallactive.btn_press:hover span.inner-btn span.label{
	background-position: left -1200px;
	color: #222;
	text-shadow: #aaa 0 1px 0;
}
 
 
.app  a.smallbtn.smallactive span.inner-btn{
	background: url(images/controls.png) no-repeat left -1632px;
}
.app  a.smallbtn.smallactive span.inner-btn span.label{
	background: url(images/controls.png) repeat-x left -1152px;
}
.app  a.smallbtn.smallactive:hover, .app  a.smallbtn.smallmain_btn{
	background-position:100% -1824px;
}
.app  a.smallbtn.smallactive:hover span.inner-btn, .app  a.smallbtn.smallmain_btn span.inner-btn{
	background-position: left -1680px;
}
.app  a.smallbtn.smallactive:hover span.inner-btn span.label, .app  a.smallbtn.smallmain_btn span.inner-btn span.label{
	background-position: left -1200px;
	color: #000;
	text-shadow: silver 0 1px 0;
}
.app  a.smallbtn.smallactive:active, .app  a.smallbtn.smallactive.btn_press:hover  {
	background-position:100% -1848px;
}
.app  a.smallbtn.smallactive:active span.inner-btn, .app  a.smallbtn.smallactive.btn_press:hover span.inner-btn{
	background-position: left -1704px;
}
.app  a.smallbtn.smallactive:active span.inner-btn span.label, .app  a.smallbtn.smallactive.btn_press:hover span.inner-btn span.label{
	background-position: left -1224px;
	color: #222;
	text-shadow: #aaa 0 1px 0;
}



/**@start: medbtn medium button*/
.app  a.medbtn{
	text-decoration: none !important;
	color: #777 !important;
	background: url(images/controls.png) no-repeat 100% -1320px;
	padding-right: 9px;
	padding-left: 2px;
	margin-right: 3px;
	height: 19px;
	display: -moz-inline-stack;
	display: inline-block;	
	outline: none;
	font-size: 12px;
	cursor: not-allowed;
	text-shadow: #fff 0 1px 0;
}
.app  a.medbtn span.inner-btn{
	background: url(images/controls.png) no-repeat left -984px;
	height: 19px;
	display: block;
	padding-left: 3px;
}
.app  a.medbtn span.inner-btn span.label{
	background: url(images/controls.png) repeat-x left -1176px;
	padding: 2px 0 3px;
	display: block;
	min-width:48px;
	text-align: center;
	margin-left: 6px;
	height: 14px;
}
/* @group Active Button Styles */
.app  a.medbtn.medactive{
	text-decoration: none !important;
	color: #000 !important;
	background: url(images/controls.png) no-repeat 100% -1296px;
	cursor: default;
	text-shadow: #fff 0 1px 0;
}
.app  a.medbtn.medactive span.inner-btn{
	background: url(images/controls.png) no-repeat left -960px;
}
.app  a.medbtn.medactive span.inner-btn span.label{
	background: url(images/controls.png) repeat-x left -1152px;
}


.app  a.medbtn.medactive:hover, .app  a.medmain_btn{
	background-position:100% -1344px;
}

.app  a.medbtn.medactive:hover span.inner-btn, .app  a.medbtn.medmain_btn span.inner-btn{
	background-position: left -1008px;
}
.app  a.medbtn.medactive:hover span.inner-btn span.label, .app  a.medbtn.medmain_btn span.inner-btn span.label{
	background-position: left -1200px;
	color: #000;
	text-shadow: silver 0 1px 0;
}
.app  a.medbtn.medactive:active, .app  a.medbtn.medactive.btn_press:hover  {
	background-position:100% -1368px;
}
.app  a.medbtn.medactive:active span.inner-btn, .app  a.medbtn.medactive.btn_press:hover span.inner-btn{
	background-position: left -1032px;
}
.app  a.medbtn.medactive:active span.inner-btn span.label, .app  a.medbtn.medactive.btn_press:hover span.inner-btn span.label{
	background-position: left -1224px;
	color: #222;
	text-shadow: #aaa 0 1px 0;
}
 
 
./*app  a.medbtn.medactive span.inner-btn{
	background: url(images/controls.png) no-repeat left -1632px;
}
.app  a.medbtn.medactive span.inner-btn span.label{
	background: url(images/controls.png) repeat-x left -1152px;
}
.app  a.medbtn.medactive:hover, .app  a.medbtn.medmain_btn{
	background-position:100% -1824px;
}
.app  a.medbtn.medactive:hover span.inner-btn, .app  a.medbtn.medmain_btn span.inner-btn{
	background-position: left -1680px;
}
.app  a.medbtn.medactive:hover span.inner-btn span.label, .app  a.medbtn.medmain_btn span.inner-btn span.label{
	background-position: left -1200px;
	color: #000;
	text-shadow: silver 0 1px 0;
}
.app  a.medbtn.medactive:active, .app  a.medbtn.medactive.btn_press:hover  {
	background-position:100% -1848px;
}
.app  a.medbtn.medactive:active span.inner-btn, .app  a.medbtn.medactive.btn_press:hover span.inner-btn{
	background-position: left -1704px;
}
.app  a.medbtn.medactive:active span.inner-btn span.label, .app  a.medbtn.medactive.btn_press:hover span.inner-btn span.label{
	background-position: left -1224px;
	color: #222;
	text-shadow: #aaa 0 1px 0;
}*/
/**@end: medbtn medium button*/





/*start: contacts save cancel delete buttons*/
.app a.btn > span > span > img{
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	background: transparent url(images/contacts_assets.png) no-repeat;
	width: 16px;
	height: 16px;
}
.app a.btn > span > span > img.edit{
	background-position: -27px 0;
}
.app a:hover.btn > span > span > img.edit{
	background-position: -27px -22px;
}
.app a.btn > span > span > img.cancel{
	background-position: -56px 1px;
}
.app a:hover.btn > span > span > img.cancel{
	background-position: -56px -21px;
}
.app a.btn > span > span > img.save{
	background-position: -2px 0;
}
.app a:hover.btn > span > span > img.save{
	background-position: -2px -22px;
}
.app a.btn > span > span > img.delete{
	background-position: -84px 0;
}
.app a:hover.btn > span > span > img.delete{
	background-position: -84px -22px;
}
/*end: buttons*/


.app  .block_load{
	color:#333;
	font-size:20px;
	min-width: 300px;
	font-weight: bold;
	background: #f0f0f0;
	padding: 10px 20px;
	/*white-space: nowrap;*/
	overflow: hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999;
	text-shadow: #fff 0 1px 0;
}
.app  h2.block_load{
	display: -moz-inline-stack;
	display: inline-block;	
	font-size: 16px;
	white-space: nowrap;
	max-width:350px !ie;
	overflow: hidden;
}
 
.load_over{
	overflow: hidden;
}
.app  .block_load img{
	margin-bottom: -6px;
}
.app  h2.block_load img{
	margin-bottom: -8px;
}
/* @end */
 
 
.prev_nextWrap{
	width: 400px;
	/*float: right;*/
	position: relative;
	padding:3px 8px 1px;
	float: right;
	text-align: right;
}
.prev_nextWrap span, .prev_nextWrap a{
	display: inline;
	margin: auto;
	padding: 0;
}
.prev_nextWrap span.fl{
	color: #777;
	margin-top: -1px;
}
.prev_nextWrap span.fl select{
	color: #777;
	font-size: 11px;
	background: #efefef;
	border: 1px solid #999;
	margin: -2px 2px;
}
.prev_nextWrap img{
	margin-top: -2px;
}
.prev img{
	background: url(images/controls.png) left -5344px;
	margin-right: -3px;
	margin-left: -2px;
	margin-bottom: -3px;
}
.prev a.active img{
	background-position: left -5280px;
}
.prev a.mdown img{
	background-position: left -5312px;
}
.prev_disabled{
	background: url(images/controls.png) left -5344px;
	cursor: default;
}
.next img{
	background: url(images/controls.png) left -5440px;
	margin-right: -3px;
	margin-left: -3px;
	margin-bottom: -3px;
}
.next a.active img{
	background: url(images/controls.png) left -5376px;
	cursor: default;
}
.next a.mdown img{
	background-position: left -5408px;
}
/* @end */


/*********start: back button*********/
.app .bredcrumb.bck, .app .bredcrumb.bck .lft_sec, .app .bredcrumb.bck .mid_sec{
	background: url(images/title_btn_sm.png) no-repeat 0 0;
}
.app .bredcrumb.bck{
	background-position: right -381px;
	padding-right: 9px;
	display: inline-block;
	zoom: 1;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 #cecece;
}
.app .bredcrumb.bck .lft_sec{
	background-position: 0 -445px;
	display: block;
	padding-left: 17px;
}
.app .bredcrumb.bck .mid_sec{
	background-position: 0 -412px;
	background-repeat: repeat-x;
	display: block;
	padding: 4px 0 5px;
}
.app .bredcrumb.bck:hover{
	background-position: right -570px ;
}
.app .bredcrumb.bck:hover .lft_sec{
	background-position: 0 -539px;
}
.app .bredcrumb.bck:hover .mid_sec{
	background-position: 0 -507px;
}
.app .bredcrumb.bck:active{
	background-position: right -728px ;
	color: #333333;
}
.app .bredcrumb.bck:active .lft_sec{
	background-position: 0 -758px;
}
.app .bredcrumb.bck:active .mid_sec{
	background-position: 0 -698px;
}



/******************/



/*****start: prev back & continue next buttons******/
.app .np_nav, .app .np_nav .np_lft_nav, .app .np_nav .np_mid_nav{
	background: url(images/controls.png) no-repeat 0 0;
}
.app .np_nav{
	padding-right: 12px;
	display: inline-block;
	zoom: 1;
	color: #e3e5e8;
	text-shadow: 0 1px 0 #6a6d72;
	font-size: 11px;
}
.app .np_nav .np_lft_nav, .app .np_nav .np_mid_nav{
	display: block;
}
.app .np_nav .np_mid_nav{
	text-align: center;
	min-width: 50px;
	background-repeat: repeat-x;
	padding: 7px 5px;
}
.app .np_nav:hover{
	color: #f0f0f0;
}
.app .np_nav:hover{
	color: #222;
}


/****start: back***/
.app .np_nav.bck{
	background-position: right -6170px;
	padding-right: 12px;
}
.app .np_nav.bck .np_lft_nav{
	background-position: 0 -6110px;
	padding-left: 24px;
}
.app .np_nav.bck .np_mid_nav{
	background-position: 0 -6140px;
}
.app .np_nav.bck:hover{
	text-shadow: 0 1px 0 #6a6d72;
	background-position: right -6170px;
}
.app .np_nav.bck:hover .np_lft_nav{
	background-position: 0 -6110px;
}
.app .np_nav.bck:hover .np_mid_nav{
	background-position: 0 -6140px;

}
.app .np_nav.bck:active{
	text-shadow: 0 1px 0 #6a6d72;
	background-position: right -6260px;
}
.app .np_nav.bck:active .np_lft_nav{
	background-position: 0 -6200px;
}
.app .np_nav.bck:active .np_mid_nav{
	background-position: 0 -6230px;

}

/********start: next*******/
.app .np_nav.nxt{
	margin-left: 10px;
	zoom: 1;
}
.app .np_nav.nxt, .app #active_content .cont_btn a.np_nav.nxt{
	background-position: right -6290px;
	padding-right: 24px;
}
.app .np_nav.nxt .np_lft_nav{
	background-position: 0 -6350px;
	padding-left: 12px;
}
.app .np_nav.nxt .np_mid_nav{
	background-position: 0 -6320px;
}
.app .np_nav.nxt:hover{
	background-position: right -6380px;
	text-shadow: 0 1px 0 #6a6d72;
}
.app .np_nav.nxt:hover .np_lft_nav{
	background-position: 0 -6440px;
}
.app .np_nav.nxt:hover .np_mid_nav{
	background-position: 0 -6410px;

}
.app .np_nav.nxt:active{
	background-position: right -6290px;
}
.app .np_nav.nxt:active .np_lft_nav{
	background-position: 0 -6350px;
}
.app .np_nav.nxt:active .np_mid_nav{
	background-position: 0 -6320px;
}


/*****end: prev back & continue next buttons******/