/*
EnterPi CSS Framework- Icons
Sizes of all the icons will be mentioned, if nothing is mentioned then the icon will be 16x16.
*/

/*Snapback icon*/
.app .snapback_ico{
	background: url(images/mail_assets.png) no-repeat -32px -192px;
}
.app a:hover .snapback_ico, .app .snapback_ico:hover{
	background-position: -32px -240px;
}
.app a:active .snapback_ico, .app .snapback_ico:active{
	background-position: -32px -208px;
}
/* @group Plus Icons */
.app .plus_ico{
	background: url(images/mini_icons.png) no-repeat 0 0;
}
.app a:hover .plus_ico, .app .plus_ico:hover{
	background: url(images/mini_icons.png) no-repeat -16px 0;
}
.app a:active .plus_ico, .app .plus_ico:active{
	background: url(images/mini_icons.png) no-repeat -32px 0;
}
.app .plus_ico.disabled{
	background: url(images/mini_icons.png) no-repeat -48px 0;
	cursor: not-allowed;
}
/*White Plus*/
.app .plus2_ico{
	background: url(images/controls.png) no-repeat -8px -3856px;
}
.app a:hover .plus2_ico, .app .plus2_ico:hover{
	background: url(images/controls.png) no-repeat -8px -3840px;
}
.app a:active .plus2_ico, .app .plus2_ico:active{
	background: url(images/controls.png) no-repeat -8px -3856px;
}
/* @end */

/* @group Delete Icon */
.app .delete_ico{
	background: url(images/mini_icons.png) no-repeat 0 -16px;
}
.app .label .delete_ico{
	background: url(images/mini_icons.png) no-repeat 0 -16px;
}
.app a:hover .delete_ico, .app .delete_ico:hover{
	background: url(images/mini_icons.png) no-repeat -16px -16px;
}
.app a:active .delete_ico, .app .delete_ico:active{
	background: url(images/mini_icons.png) no-repeat -32px -16px;
}
.app .delete_ico.disabled{
	background: url(images/mini_icons.png) no-repeat -48px -16px;
}

.app .delete_ico.white{
	background: url(images/mini_icons.png) no-repeat -80px -16px;
}
.app .delete_ico.white:hover{
	background: url(images/mini_icons.png) no-repeat -64px -16px;
}
.app .delete_ico.white:active{
	background: url(images/mini_icons.png) no-repeat -80px -16px;
}

/* @end */

/************/
.app .jobs_ico{ background: url(images/icons/icon_sprites24.png) no-repeat 0 0; } 
.app .contacts_ico{ background: url(images/icons/icon_sprites24.png) no-repeat 0 -24px; } 
.app .shipping_ico{ background: url(images/icons/icon_sprites24.png) no-repeat 0 -48px; } 
.app .statistics_ico{ background: url(images/icons/icon_sprites24.png) no-repeat  0 -72px; } 
.app .logout_ico{background: url(images/icons/icon_sprites24.png) no-repeat 0 -96px; } 
/************/

/* @group Go to Contacts */
.app .go_contacts_ico{
	background: url(images/icons/icon_sprites.png) no-repeat left -1690px;
}
.app .go_contacts_ico:hover{
	background: url(images/icons/icon_sprites.png) no-repeat left -1710px;
}
.app .go_contacts_ico:active{
	background: url(images/icons/icon_sprites.png) no-repeat left -1730px;
}
/* @end */
/* @group Feedback icons*/
.app .nofeedback_ico{
	background: url(images/icons/icon_sprites.png) no-repeat left -1779px;
	width: 16px;
	height: 16px;
}
.app .feedback_ico{
	background: url(images/icons/icon_sprites.png) no-repeat left -1748px;
	width: 16px;
	height: 16px;
}
.app .feedback_ico:hover{
	background: url(images/icons/icon_sprites.png) no-repeat left -1763px;
}
/* @end */
/* @group Estimates */
.app .estSent_ico{
	background: url(images/icons/icon_sprites24.png) no-repeat -3px -182px;
	width: 20px;
	height: 16px;
}
.app .estAcc_ico{
	background: url(images/icons/icon_sprites24.png) no-repeat -3px -212px;
	width: 22px;
	height: 16px;
}
/* @end */

.app .print_form{
	background: url(images/icons/icon_sprites.png) no-repeat scroll left -806px;
}

.app .login_loading{
	background: transparent url(images/spin_login.gif) no-repeat 0 0;
}


.app .saved{
	background: transparent url(images/tennis_ball.png) no-repeat 0 0;
}



.app .right_ico{
	background: url(images/icons/icon_sprites.png) no-repeat left -1835px;
}
.app .right_ico.active{
	background: url(images/icons/icon_sprites.png) no-repeat left -1855px;
}


.app .inbox_ico{
	background: url(images/mail_assets.png) no-repeat -48px -256px;
	margin-bottom: -3px;
	margin-right: 3px;
	margin-left: -3px;	
}
.app .pool_ico{
	background: url(images/icons/icon_sprites.png) no-repeat 0 -1065px;
}


/******start: next & previous icons******/
.app .prev_ico, .app .next_ico{
	background: url(images/controls.png) no-repeat 0 0;
	height: 17px;
	width: 19px;
}
.app .prev_ico{
	background-position: 0 -5280px;
}
.app .prev_ico.disabled{
	background-position: 0 -5344px;
}
.app .prev_ico.pressed{
	background-position: 0 -5312px;
}
.app .next_ico{
	background-position: 0 -5376px;
	width: 20px;
}
.app .next_ico.disabled{
	background-position: 0 -5440px;
}
.app .next_ico.pressed{
	background-position: 0 -5408px;
}
/*****end: next & previous icons*******/

/******start: next & previous 10 X10 icons******/
.app .prev_arr1_ico, .app .next_arr1_ico{
	background: url(images/mini_icons.png) no-repeat 0 0;
	height: 10px;
	width: 10px;
}
.app .prev_arr1_ico{
	background-position: 0 -80px;
}
.app .prev_arr1_ico:hover{
	background-position: -16px -80px;
}
.app .prev_arr1_ico.pressed{
	background-position: -32px -80px;
}
.app .prev_arr1_ico.disabled{
	background-position: -48px -80px;
}

.app .next_arr1_ico{
	background-position: 0 -96px;
}
.app .next_arr1_ico:hover{
	background-position: -16px -96px;
}
.app .next_arr1_ico.pressed{
	background-position: -32px -96px;
}
.app .next_arr1_ico.disabled{
	background-position: -48px -96px;
}
/*****end: next & previous 10 X10 icons******/


/*******start: shiping*********/
.app .etchina{
	background:url(images/etachina.png) no-repeat left center;
}
.app .etport{
	background:url(images/port.png) no-repeat left center;
}
.app .etdes{
	background:url(images/etades.png) no-repeat left center;
}
/*******end: shiping*********/


/******start: admin dept*********/
.app .a_l_icn{
	background: url(images/icons/icon_sprites.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	margin: 0 2px -2px 12px;
}
.app .a_l_icn.forms_icn{
	background-position: 0 -1900px;
}
.app .a_l_icn.pools_icn{
	background-position: 0 -1920px;
}
.app .a_l_icn.status_icn{
	background-position: 0 -1940px;
}
.app .a_l_icn.est_icn{
	background-position: 0 -1960px;
}
.app .a_l_icn.profitmargin_icn{
	background-position: 0 -1980px;
}
.app .a_l_icn.chineseglossary_icn{
	background-position: 0 -2000px;
}
.app .a_l_icn.custom_attr_icn{
	background-position: 0 -2185px;
}
/******end: admin dept*********/


/* start: edit icon*/
.app .edit_ico{
	background: url(images/mini_icons.png) no-repeat 0 -120px;
}
.app .edit_ico:hover, .app .edit_ico.hover{
	background: url(images/mini_icons.png) no-repeat -16px -120px;
}
.app .edit_ico:active{
	background: url(images/mini_icons.png) no-repeat -32px -120px;
}
.app .edit_ico.disabled{
	background: url(images/mini_icons.png) no-repeat -48px -120px;
}

/* end: edit icon*/

/* start: emal icon*/
.app .email_ico{
	background: url(images/icons/icon_sprites.png) no-repeat 0 -2080px;
}
.app .email_ico:hover{
	background: url(images/icons/icon_sprites.png) no-repeat 0px -2100px;
}
/*.app .email_ico:active{
	background: url(images/icons/icon_sprites.png) no-repeat 0px -2120px;
}*/
/* end: email icon*/

/*@start: clone icon*/
.app .clone_icn{
	background: url(images/mini_icons.png) no-repeat 0px -140px;
	width:  15px;
	height:  12px;
}
/*@end: clone icon*/
/*@search icon*/
.search_ico{
	padding-left: 16px;
	background: url(images/zoom.png) no-repeat left center;
}
/*@search icon*/
