@charset "UTF-8";
/* RFQMS Login Styles */
body{
	margin:0;
	padding:0;
	/*background: #ebf1f7 url(../images/login/ivielogo_bg.png) 90% 40px no-repeat;*/
	background:#000 url(images/main_bg_new.jpg) left top no-repeat;
	min-height: 500px;
}
.main{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#bbb;
}
.main a{
	color:#778da8;
	text-decoration:none;
	border-bottom:1px transparent solid;
	_border:none;
}
.main a:hover{
	color:#fff;
	
}
.main form{
	padding: 0;
	margin: 0;
}
/*#black_grad{
	background: url(images/band_bg.png) repeat-x;
	position: absolute;
	z-index: 4;
	left: 0;
	top: 50%;
	width: 100%;
	height: 600px;
	margin-top:-270px;
}*/
.main #wrap {
	height: 100%;
	left: 0;
	margin: auto;
	min-width: 1000px;
	min-height: 500px;
	position: absolute;
	top: 0;
	width: 100%;
	right: 0;
	bottom: 0;
}
.main #logo{
	width:382px;
	position: absolute;
	z-index: 2;
	top: 50%;
	background: url(images/ivie_login_new.png) no-repeat center center;
	height: 382px;
	margin-top: -246px;
	left: 10px;
}
#band_bg{
	background: url(images/band_bg_new.png) repeat-x;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 50%;
	width: 100%;
	height: 180px;
	margin-top: -100px;
	right: 0;
}
.main #login_input{
	height: 310px;
	left: 12px;
	margin-top: -100px;
	position: absolute;
	top: 50%;
	width: 1000px;
	z-index: 5;
}
.main #logo_2 {
	float: left;
	height: 180px;
	width: 380px;
	background: url(images/logo_2_new.png) no-repeat;
}
/*.main #login{
	width: 540px;
	float: left;
	padding-left: 44px;
}*/
.main .login_info {
	list-style: none;
	padding: 0;
	margin-top: 46px;
}
.login_info li{
	float: left;
	margin-right: 14px;
}
.login_info li.align_opt{
	position: relative;
	left: -274px;
	top: 70px;
}
.login_info li.top_position{
	top: 60px;
	left: -278px;
}
.login_info li.align_opt label, .login_info li.align_opt a{
	font-size: 13px;
	color: #c7c7c7;
	text-shadow: 0 1px 1px #000;
}
.main .login_info li.align_opt a:hover{
	color: #eaeaea;
	text-decoration: none;
}
.login_info li.align_opt label{
	display: inline;
}
.login_info label{
	color: #f0f0e4;
	text-shadow: #000 0 1px 1px;
	font-size: 15px;
	display: block;
	padding-bottom: 3px;
	/*font-weight: bold;*/
}
.main .login_btn{
	background: url(images/login_btn_new.png) 0 0 no-repeat;
	border: none;
	font-size: 13px;
	height: 24px;
	width: 64px;
	padding: 0 0 4px;
	color: #2e343b;
	text-shadow: 0 1px 1px #dfe1e2;
}

.main .login_info input.text{
	background: #fff url(images/input_bg_new.png) left top repeat-x;
	-webkit-box-shadow: 0 1px 2px #a0a8b2;
	-moz-box-shadow: 0 1px 0 #a0a8b2 ;
	font-size: 14px;
	line-height: 16px;
	border: #595959 solid 1px;
	padding: 3px;
}

.main .login_info input.text:focus{
	outline-color: #444e58 ;
	
	border-color: #52575d;
	-webkit-box-shadow: none;
	background: #fdf8b7 url(images/input_bg_new.png) left top repeat-x;
}

.main.ie .login_info li.focused input.text{
	outline-color: #444e58 ;
	
	border-color: #52575d;
	background: #fdf8b7 url(images/input_bg_new.png) left top repeat-x;
}
.main.firefox .login_info input.text:focus{
	outline-width: 1px;
	-moz-outline-radius: 2px;
	-moz-outline-offset: 0px;
	-moz-border-top-colors: #384049 #e2e4e6 ;
	-moz-border-bottom-colors: #384049 #e2e4e6 ;
	-moz-border-left-colors: #384049 #e2e4e6;
	-moz-border-right-colors: #384049 #e2e4e6;
	-moz-box-shadow: none;
	background: #fdf8b7 url(images/input_bg_new.png) left top repeat-x;
}

.main .login_info input.text[rel=login].disable{
	background-color: #b6b6b6;
	cursor: not-allowed;
}


.main #inst_mess{
	clear: left;
	margin: 20px 0 0 345px;
	color: #ada99c;
	height: 180px;
	cursor:default;
	text-shadow: 0 1px 1px #000;
}
.main #inst_mess p{
	font-size: 14px;
	padding: 6px 0 4px 32px;
	background: url(images/mess_icons_new.png) no-repeat;
}
.main #inst_mess .send_est{
	background-position: 0 0;
}
.main #inst_mess .exc_diag{
	background-position: 0 -32px;
}
.main #inst_mess .fnd_cust{
	background-position: 0 -63px;
}
.main #inst_mess .rev{
	background-position: 0 -100px;
}
.main #inst_mess .track_job{
	background-position: 0 -132px;
}
.main .login_btn{
	background: url(images/login_btn_new.png) 0 0 no-repeat;
	border: none;
	font-size: 13px;
	height: 24px;
	width: 68px;
	padding: 0 0 4px;
	color: #2e343b;
	text-shadow: 0 1px 1px #fff;
}
.main .login_btn:hover{
	background-position: 0 -28px;
	color: #000;
}
.main .login_btn:active{
	background-position: 0 -55px;
	color: #000;
}
/*....................................end.............................23/10/09................*/
.main #rfq_logo{
	height: 100px;
	width: 200px;
	background: url(images/login_logo2.png) no-repeat;
	float:left;
}
.main #band #login{
	padding-left:50px;
	font-size:15px;
}
.main #band #login ul{
	margin:5px 0;
	padding:0;
	list-style:none;
}
.main #band #login ul li{
	margin-top:5px;
	padding:5px 10px 10px 15px;
	/*border-top:1px transparent solid;
	border-bottom: 1px transparent solid;*/
	float: left;
	width: 250px;
}
.main #band #login ul li label{
	display:block;
	margin-bottom:2px;
}
.main #band #login ul li input{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	width:240px;
	color:#666;
	padding:1px;
	outline: none;
}
.main #band #login ul li span{
	display:block;
	font-size:12px;
	color:#fff;
	display:none;
}
/*.main #band #login ul li .loginbtn, .main .loginbtn{
	width:100px;
	color:#b6d2f0;
	padding:0 2px !ie;
	font-size:15px;
	border:1px #7c94b3 solid;
	background:#3d6996 url(../images/login/loginbtn.png) center 3px repeat-x;
}
.main .loginbtn:hover, .main #band #login ul li .loginbtn:hover{
	color:#fff;
	color:#222;
	border-color:#a0bedc;
	border-color:#ecc13d;
	background-position:center top;
	background:#fff9dd url(../images/login/btn_bg.png) top repeat-x;
}
.main .active, .main #band #login ul li .active{
	color:#86a3c0;
	border-color:#e9bc33;
	color:#998340;
	background:#40638e url(../images/login/btn_bg.png) bottom repeat-x;
}
.main .active:hover, .main #band #login ul li .active:hover{
	color:#86a3c0;
	color:#a1842c;
	border-color:#e9bc33;
	background:#fff9dd url(../images/login/btn_bg.png) bottom repeat-x;
}*/
/**Start of new login styles**/
.main #band #login ul li .loginbtn, .main .loginbtn{
	width:100px;
	color:#333333;
	padding:0 2px !ie;
	font-size:14px;
	border:0px #7c94b3 none;
	background: url(../images/login/login_button.png) no-repeat center 0px;
	text-shadow:0 1px 0 #bbbbbb;
	outline:none;
	height: 26px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.main .loginbtn:hover, .main #band #login ul li .loginbtn:hover{
	color: #111111;
	background: url(../images/login/login_button.png) no-repeat center -30px;
}
.main .btnPress, .main #band #login ul li .btnPress{
	background: url(../images/login/login_button.png) no-repeat center -60px !important;
	color: #000;
	text-shadow:0 1px 0 #aaaaaa;
}
.main #login ul li .disabled, .main .disabled, .main #login ul li .disabled:hover, .main .disabled:hover{
	background: url(../images/login/login_button.png) no-repeat center -90px;
	color:#444;
	text-shadow:0 1px 0 #8d8d8d;
	cursor:not-allowed;
}

/**End of new login styles**/

.main #band #login ul li.remember{
	margin-top:5px;
	padding: 0 0 0 10px;
	height:20px;
}
.main #band #login ul li.remember:hover{
	color:#FFF;
}
.main #band #login ul li.remember input{
	width:20px;
	padding:0;
	float:left;
}
.main #band #login ul li.remember label{
	height:16px;
	float:left;
	font-size:13px;
	padding-top:2px;
	display:inline;
}
/*.main .forgot{
	font-size:13px;
	padding-top:10px;
	color:#A7BAD4;
}*/
.main #band #login ul li.focused{
	background:url(../images/login/active_bg1.png) repeat-x left center;
	color:#fff;
}
/*.main #band #login ul li.focused{
	background:#FFF9DC url(../images/login/active_bg1.png) repeat-x left center;
	border-top:1px solid #afc1d5;
	border-bottom:1px solid #799cc3;
	border-color:#FFCC33;
	color:#000;
}*/
.main #band #login ul li.focused input{
	color:#000;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:-moz-inline-stack; display:inline-block;}
/* Hide from IE Mac \*/
	.clearfix {display:block;}
/* End hide from IE Mac */
.main #log ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.main #log ul li{
	margin-bottom: 12px;
	padding-left: 5px;
}
.main .stories{
	background: #171717;
	margin-top: 80px;
	border: 1px solid #444;
	margin-left: 250px;
	width: 500px;
	position:relative;
	/*opacity: 0.3;
	margin-left: 290px;*/
}
.main .stories h2.log_text, .main .stories p{
	margin:0;
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
	color: #aeaeae;
}
.main .stories h2.log_text{
	font-size:16px;
	border-bottom: 1px dotted #333;
	margin-bottom:8px;
	color:#bebebe;
	font-weight:normal;
}


/*Browser Check Error message*/
div.ie_error_msg{
	background: #ebebeb url(../images/login/error_browser.gif) no-repeat scroll 15px 15px;
	border: 1px solid #a1a1a1;
	margin: 140px auto;
	padding: 20px 20px 20px 100px;
	width: 500px;
	color: #262626;
}
div.ie_error_msg h1{
	font-size: 24px;
	padding: 10px 10px 10px 0;
	margin: 0px;
}
div.ie_error_msg ul{
	padding: 0;
	margin: 20px;
}
div.ie_error_msg li{
	padding: 0 0 4px 0;
	margin: 0;
}
div.ie_error_msg ul a{
	color: #1c4fad;
	border: none;
	
}
div.ie_error_msg ul a:hover{
	color: #1c4fad;
	border: none;
	text-decoration: underline;
}

.spin_login{
	_margin-top: 5px;
	width: 16px; 
	height: 16px;
	_background: url(images/spin_login.gif) no-repeat 0 0;
	background: url(images/new_login_spin.gif) no-repeat 0 0;
	_float: right;
	display: none;
	
	position: absolute;
	right: 120px;
	top: 74px;
	right: 120px !ie;
}
/*................................................23/10/09................................................*/
